@font-face {
  font-family: "Roboto";
  src: local("Roboto"), local("Roboto-regular"), url("../fonts/roboto-v29-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v29-latin_cyrillic-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), local("Roboto-medium"), url("../fonts/roboto-v29-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v29-latin_cyrillic-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  height: 100vh;
  min-width: 320px;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  background-color: #000;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background-color: transparent;
  outline: none;
  padding: 0;
  cursor: pointer;
}

.main {
  flex-grow: 1;
}

.header {
  padding: 9px 0;
  position: relative;
}
.header__mute {
  position: absolute;
  right: 100px;
  top: 50%;
  transform: translateY(-50%);
  width: 44px;
  height: 24px;
  border-radius: 30px;
  overflow: hidden;
  background-color: #FFFFFF;
}
.header__hashtag {
  text-transform: none;
  margin-right: 70px;
  padding: 7px 14px;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation__close {
  display: none;
}
.navigation__list {
  display: flex;
}
.navigation__item {
  padding: 7px 14px;
}
.navigation__item_active {
  background-color: #E90000;
}

.social {
  display: flex;
}
.social__icon {
  margin-right: 20px;
}
.social__icon:last-child {
  margin-right: 0;
}
.social__link svg {
  color: #FFFFFF;
  transition: color 0.3s ease-out;
}
.social__link svg:hover {
  color: #E90000;
}

.mute__checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}
.mute__label::before, .mute__label::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #E90000;
  top: 1px;
  right: 1px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  transition: left 0.3s ease-in-out, right 0.3s ease-in-out;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.mute__label::before {
  background-image: url("../images/volume_off.svg");
  left: -22px;
}
.mute__label::after {
  background-image: url("../images/volume_on.svg");
}
.mute__checkbox:checked + .mute__label:before {
  left: 1px;
}
.mute__checkbox:checked + .mute__label:after {
  right: -22px;
}

.burger {
  display: none;
}

.main_index {
  background: #000 url("../images/main-photo.jpg") center center/cover no-repeat;
  position: relative;
}

.logo {
  position: absolute;
  left: 180px;
  top: 50%;
  transform: translateY(-50%);
}

.footer {
  padding: 10px 0;
  text-align: center;
}
.footer__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 21px;
  margin-bottom: 6px;
  font-size: 11px;
  font-weight: 400;
}
.footer__copyright {
  color: #6A6A6A;
  font-size: 11px;
}