html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  height: 100vh;
  min-width: 320px;
  font-family: 'Roboto', sans-serif;
  color: $text-white;
  background-color: $main-black;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  // max-height: 100%;

}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background-color: transparent;
  outline: none;
  padding: 0;
  cursor: pointer;
}

.main {
  flex-grow: 1;
}