.main_index {
  background: #000 url('../images/main-photo.jpg') center center /cover no-repeat;
  position: relative;
}

.logo {
  position: absolute;
  left: 180px;
  top: 50%;
  transform: translateY(-50%);
}