.main {
  position: relative;
}

.main_index {
  background: #000 url('../images/main-photo.jpg') center top /cover no-repeat;
  display: flex;
  align-items: center;
  padding-left: 180px;
}

.main_slider {
  height: calc(100% - 100px);
}

.logo {
  width: 329px;
  height: 235px;
  animation: zoomIn 1s;
}

@keyframes zoomIn {
  from {
    transform: scale3d(0, 0, 0);
  }
}