@media(max-width:1024px) {
  .header__mute {
    right: 20px;
    width: 44px;
    height: 24px;
  }

  .main_index {
    align-items: center;
    padding-left: 100px;
  }

  .logo {
    width: 280px;
    height: 184px;
  }

  .pagination {
    &__arrow {
      margin-bottom: 0;
    }
  }
}

@media(max-width:768px) {
  .navigation {
    &__item {
      padding: 3px 7px;
    }

    &__link {
      font-size: 11px;
    }
  }

  .pagination {
    &__arrow {
      margin-bottom: 0px;
    }
  }

  .header__hashtag {
    margin-right: 20px;
  }

  .social__icon {
    margin-right: 12px;
  }

  .main_index {
    align-items: center;
    padding-left: 40px;
  }

  .logo {
    width: 230px;
    height: 134px;
  }

  .footer__list {
    column-gap: 10px;
    row-gap: 10px;
    font-size: 9px;
  }
}

@media(max-width:576px) {
  .header {
    display: flex;
    align-items: center;
    padding: 13px 20px;

  }

  .header__hashtag {
    margin-right: 0px;
    margin-bottom: 47px;
  }

  .social {
    justify-content: center;
  }

  .slider-main__video {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  // мобильное меню
  .navigation {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 240px;
    background-color: $menu-color;
    flex-direction: column;
    padding-top: 90px;
    transform: translateX(-240px);
    padding-bottom: 20px;
    text-align: center;
    align-items: stretch; //растягивает по ширине пункты меню
    transition: transform .3s ease-in-out;
    z-index: 9999;

    &__list {
      flex-direction: column;
      gap: 6px;
      margin-bottom: 6px;
    }

    &__item {
      padding: 12px 0;
    }

    &__close {
      display: block;
      position: absolute;
      top: 20px;
      left: 20px;
      width: 16px;
      height: 16px;
      background: transparent url('../images/close.svg') center center /contain no-repeat;
    }

    &_active {
      transform: translateX(0);
    }
  }

  .burger {
    display: block;
    width: 20px;
    height: 12px;
    background-color: transparent;
    background-image: url('../images/burger.svg');
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;



    & &_active {
      display: block;
    }
  }

  .main_index {
    justify-content: center;
    align-items: end;
    padding-left: 0;
    padding-bottom: 64px;
    padding-top: 350px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.76) 32.14%, rgba(255, 0, 0, 0.00) 72.56%), url('../images/main-mob.jpg') center center / cover no-repeat;
  }

  .logo {
    width: 200px;
    height: 104px;
    // position: absolute;
    // bottom: 64px;
    // transform: translateX(-50%);
    // left: 50%;
  }

  // .slider-main {
  //   height: 80%;
  // }

  .pagination {
    min-height: 80px;

    &__arrow {
      margin-bottom: 6px;
    }
  }

  .footer {
    padding: 10px 20px;
    height: 50px;

    &__list {
      font-size: 7px;
      line-height: 9px;
    }

    &__copyright {
      font-size: 7px;
    }
  }

}

@media(max-width:370px) {
  .logo {
    width: 125px;
    height: 89px;
  }
}