.navigation {
  display: flex;
  justify-content: center;
  align-items: center;

  &__list {
    display: flex;
  }

  &__item {
    padding: 7px 14px;
  }

  &__item_active {
    background-color: $btn-red;
  }

  &__close {
    display: none;
    border: none;
    background-color: transparent;
  }

}